.country {
    padding: 30px;
    border: 1px solid slateblue;
    text-align: center;
}

.flag {
    width: 20%;
}

button {
    margin-top: 10px;
    padding: 5px 20px;
    background-color: slateblue;
    border: none;
    color: white;
    border-radius: 2px;
}
